<div class="row">
    <div class="columns" role="content">
        <article>
            <div class="primary callout">
                <div class="row">
                    <div class="large-6 columns">
                        Sprawdź znajomość słówek: {{numOfWord+1}}/10
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="large-6 columns">
                        <div class="button" ng-click="translate=true;">
                            {{flashcard.word}}
                        </div>
                        <div class="button" ng-show="translate">
                            {{flashcard.translate}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        <div class="success button" ng-click="know()">
                            {{"KNOW" | translate}}
                        </div>
                        <div class="alert button" ng-click="toLearn()">
                            {{"TO_LEARN" | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
