<div class="row">
    <div class="columns" role="content">
        <article>
            <div class="primary callout">
                <div class="row">
                    <div class="columns">
                        Tryb nauki: <br/>
                        <select ng-change="reloadWords()" ng-model="checkedLesson">
                            <option value="all">Wszystkie lekcje.</option>
                            <option ng-repeat="lesson in lessons" value="{{lesson}}">Tylko lekcja: {{lesson}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="primary callout">
                <div class="row">
                    <div class="large-6 columns">
                        Sprawdź znajomość słówka w oparciu o zdania: {{numOfWord+1}}/{{wordListLength}}
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="large-6 columns">
                        <div class="button" ng-click="translate=true;">
                            {{flashcard.sentence}}
                        </div>
                        <div class="button" ng-show="translate">
                            {{flashcard.translate}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        <div class="success button" ng-click="know()">
                            {{"KNOW" | translate}}
                        </div>
                        <div class="alert button" ng-click="toLearn()">
                            {{"TO_LEARN" | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
