<div class="row">
    <div class="columns" role="content">
        <article>
            <div class="primary callout">
                <div class="row">
                    <div class="columns">
                        Słówko do nauki: <b>follow - śledzić</b>
                    </div>
                </div>
            </div>
            <div class="primary callout">
                <div class="row">
                    <div class="columns">
                        Wprowadź przykładowe zdania z użyciem słówka, odzielając je znakami [enter].<br/><br/>

                        <div class="large-12 columns">
                            <label>Zdania w języku oryginalnym:</label>
                            <textarea placeholder="follow"></textarea>
                        </div>
                        <div class="large-12 columns">
                            <label>Tłumaczenie zdań:</label>
                            <textarea placeholder="śledzić"></textarea>
                        </div>

                        <div class="large-12 columns">&nbsp;</div>

                        <div class="large-12 columns">
                            <div class="success button" ng-click="know()">
                                {{"SAVE" | translate}}
                            </div>
                            <div class="alert button" ng-click="toLearn()">
                                {{"SKIP" | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="columns">

                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
