<div class="row">
    <div class="columns" role="content">
        <article>
            <div class="primary callout">
                <div class="row">
                    <div class="large-12 columns">
                        <table class="table">
                            <thead>
                            <th class="text-center" ng-repeat="header in headers">
                                {{header.name}}
                            </th>
                            </thead>
                            <tbody>
                            <tr>
                                <td><input on-enter-blur="reloadWords()" ng-model="filter.word" type="text"></td>
                                <td><input on-enter-blur="reloadWords()" ng-model="filter.translate" type="text"></td>
                                <td><select ng-change="reloadWords()" ng-model="filter.lesson" ng-options="lesson for lesson in lessons">
                                    <option></option>
                                </select></td>
                                <td><select ng-change="reloadWords()" ng-model="filter.prepared">
                                    <option></option>
                                    <option value="yes">{{'YES' | translate}}</option>
                                    <option value="no">{{'NO' | translate}}</option>
                                </select></td>
                                <td>
                                    <div class="input-group" style="width: 150px;">
                                        <input on-enter-blur="reloadWords()" ng-model="filter.level" type="text" class="input-group-field" style="width: 80px;">
                                        <span class="input-group-label" style="background: #fff;">
                                            warunek:
                                            <select ng-change="reloadWords()" ng-model="filter.levelL" style="width: 50px;">
                                                <option></option>
                                                <option value="bigger"> ></option>
                                                <option value="smaller"> <</option>
                                            </select>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-repeat="word in words">
                                <td>{{word.word}}</td>
                                <td>{{word.translate}}</td>
                                <td>{{word.lesson}}</td>
                                <td>{{word.prepared ? 'YES' : 'NO' | translate}}</td>
                                <td>{{word.levelLearned}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <pagination per-page="10" total-items="100" on-change="changeSite"/>
                    <!--< pagination page="filter.page", perPage="10", total-items="100", on-change="reloadWords()"></ pagination>-->
                </div>
            </div>
    </div>
    </article>
</div>
</div>